DB_DATABASE=warframe_watcher
DB_HOST=postgres
DB_PORT=5432
POSTGRES_PASSWORD=

DB_ADMIN_USER=admin
DB_ADMIN_PASSWORD=

DB_WORKER_USER=worker
DB_WORKER_PASSWORD=

DB_API_USER=api
DB_API_PASSWORD=

REDIS_URL=
